[Unit]
Description=P25 Parrot Service
# Description=Place this file in /lib/systemd/system
# Description=N4IRS 04/30/2020

[Service]
Type=simple
Restart=always
RestartSec=3
StandardOutput=null
WorkingDirectory=/opt/P25Parrot
ExecStart=/opt/P25Parrot/P25Parrot 42011
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

[Install]
WantedBy=multi-user.target
